<h1>All Tasks</h1>

<div ng-app="app">
  {{ 1 + 1 }}
  <div ng-controller="tasksCtrl">
    <div ng-repeat="task in tasks">
      <p>{{ task }}</p>
      <input ng-model="task">
    </div>
  </div>
</div>
